---
import type { Author, Affiliation, Note, Link } from "../types/types";
import Links from "./Links.astro";
import Authors from "./Authors.astro";
import Notes from "./Notes.astro";
import Affiliations from "./Affiliations.astro";
import SmallCaps from "./SmallCaps.astro";

interface Props {
  title: string;
  authors: Author[];
  affiliations?: Affiliation[];
  notes?: Note[];
  conference?: string;
  presented_at?: string;
  links: Link[];
}

const { title, authors, affiliations, notes, conference, presented_at, links } = Astro.props as Props;
---

<header class="flex flex-col gap-6 items-center mb-6">
  <h1>
    <SmallCaps>{title.split(' ')[0]}</SmallCaps>
    {title.split(' ').slice(1).join(' ')}
  </h1>
  <div class="flex flex-col items-center">
    <Authors authors={authors} />
    {affiliations && <Affiliations affiliations={affiliations} />}
  </div>
  <div class="flex flex-col items-center">
    {conference && <p class="text-center"> {conference}</p>}
    {presented_at && <p class="text-center"> {presented_at}</p>}
  </div>
  <div class="flex flex-col items-center">
    {notes && <Notes notes={notes} />}
    {links && <Links links={links} />}
  </div>

</header>
